body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.CreateOrderForm{
  display: flex;
  justify-content: center;
  align-items: center;
}

.FormContainer{
  width: 40%;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  padding: 50px;



}

.ui.selection.dropdown{
  margin-top: 50px;
  margin-bottom: 50px;
}


